<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DataAccessLayer.Properties.Settings.ELLEZ_KOZMETIKConnectionString"
            connectionString="Data Source=YASINCOREKCI;Initial Catalog=ELLEZ_KOZMETIK;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>