<!DOCTYPE html>
<html lang="en">
<head>
  <title>Welcome To ELZ COSMETIC</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
    <!-- BU ALANDA DEGISIKLIK YAPILACAK--> 
    <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server"></asp:ContentPlaceHolder>
     <!-- BU ALANDA DEGISIKLIK YAPILACAK--> 

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">ELZ COSMETIC DATABASE SYSTEM</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="#">Home</a></>
      <li><a href="EmployeeList.Aspx">EMPLOYEE</a></li>
      <li><a href="DepartmentList.Aspx">DEPARTMENT</a></li>
      <li><a href="Productlist.Aspx">PRODUCT</a></li>
      <li><a href="#">LOGISTICS</a></li>
      <li><a href="CompanyList.Aspx">COMPANY</a></li>
      <li><a href="#">ORDER</a></li>
     <li><a href="#">STORAGE</a></li>

    </ul>
  </div>
</nav>
    <!-- BU ALANDA DEGISIKLIK YAPILACAK--> 
    <asp:ContentPlaceHolder ID="ContentPlaceHolder2" runat="server"></asp:ContentPlaceHolder>
     <!-- BU ALANDA DEGISIKLIK YAPILACAK--> 



</body>
</html>
